/* LEFT */
.menu-account {
    width: 250px;
    background: #f9fafb;
    padding: 15px;
    border-radius: 10px;
}

.user-box {
    text-align: center;
    margin-bottom: 15px;
}

.avatar {
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 auto 10px;
}
.avatar-large {
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 50%;
    border: 3px solid #f472b6;
}

.address-link {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #f9fafb;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #eee;
}
.address-link img {
    width: 54px;
    height: 54px;
    object-fit: contain;
}
.address-link span {
    font-size: 14px;
    color: #374151;
}

.address-link button {
    background: none;
    border: none;
    color: #db2777;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.address-link button a {
    color: inherit;
    text-decoration: none;
}

.address-link button:hover {
    color: #16a34a;
    text-decoration: underline;
}
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.menu li:hover {
    background: #fce7f3;
    border-radius: 5px;
}
.menu li.active {
    color: #db2777;
    font-weight: bold;
}

.menu li a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0;
}

.menu > a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.menu > a.active {
    color: #db2777;
    font-weight: bold;
}

.menu > a:hover {
    background: #fce7f3;
    border-radius: 5px;
}

.logout-btn {
    display: block;
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    background: none;
    border: 1.5px solid #db2777;
    border-radius: 8px;
    color: #db2777;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.logout-btn:hover {
    background: #db2777;
    color: #fff;
}
